In [1]:
# import pandas and numpy
import pandas as pd
import numpy as np

import seaborn as sns
sns.set()


import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load salary.csv into dataframe
salary_df = pd.read_csv("salary.csv")

# load salary_numeric.csv into dataframe where education levels have been re-expressed as numeric
salary_numeric_df=pd.read_csv('salary_numeric.csv')

In [4]:
salary_df['gender'].value_counts()

Female    12730
Male      12709
Name: gender, dtype: int64

In [5]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25439 entries, 0 to 25438
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  25439 non-null  int64
 1   gender               25439 non-null  object
 2   education            25439 non-null  object
 3   industry             25439 non-null  object
 4   industry_experience  25439 non-null  int64
 5   salary               25439 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.2+ MB